<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stars.css') }}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <title>Rotten Reads</title>
    <style>
    input{
      margin-bottom: 5px;
    }

    .fa-star{
      color:gold;
    }

    .fa{
      color:gold;
    }

  </style>
</head>
<body>
  {% include 'menu.html' %}
  <div class="jumbotron jumbotron-fluid text-center text-warning bg-dark jumbo-heading">
    <h1>{{ book.title }}</h1>
  </div>
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <span class="text-info">{{ message }}</span>
        {% endfor %}
      {% endif %}
    {% endwith %}    
    {% if session['username'] %}
    <div>
      <p><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#addAReviewModal">Add a Review</button></p>
    </div>
    {% endif %}
    <div>
  	  <p>
  	  	 <ul class=list-group>
  	  	 	<li class="list-group-item"><b>ISBN:</b> {{ book.isbn }}</li>
    			<li class="list-group-item"><b>Title:</b> {{ book.title }}</li>
    			<li class="list-group-item"><b>Author:</b> {{ book.title }}</li>
          <li class="list-group-item"><b>Description:</b> {{ book.description }}</li>
          <li class="list-group-item"><b>Overall Rating:</b> <span class="stars" data-rating="{{ overall_rating }}" data-num-stars="5" ></span> </li>
        </ul>
      </p>

      <p>
        <h3 class="text-muted">Reviews</h3>
          {% if not session['username'] %}<span class="text-warning">You must be logged in to write reviews</span>{% endif %}
        <p>
         {% for review in reviews %}
         <p>
           <ul class=list-group>
            <li class="list-group-item"><b>User:</b> {{ review.added_by }} </li>
            <li class="list-group-item"><b>Title:</b> {{ review.title }} </li>
            <li class="list-group-item"><b>Rating:</b> <span class="stars" data-rating="{{ review.star }}" data-num-stars="5" ></span></li>
            <li class="list-group-item"><b>Description:</b> {{ review.comment }} </li>
          </ul>
        </p>
        {% endfor %}
        </p>          
      </p>
  </div>


  <div class="modal fade" id="addAReviewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a Review</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="form-signin" action="{{ url_for('get_book', isbn=book.isbn) }}" id="reviewForm" method="POST">
          <div class="modal-body">      
              <fieldset class="rating">
                  <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                  <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                  <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                  <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                  <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
              </fieldset>
              <br/><br/>
              <input type="hidden" name="title" value="{{book.title}}">
              <div class="input-group">
                <textarea name="comment" class="form-control custom-control" rows="5" style="resize:none" placeholder="What do you think about this book?" autofocus=""></textarea>     
              </div>        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>

<script>
    
    $.fn.stars = function() {
        return $(this).each(function() {

            var rating = $(this).data("rating");

            var numStars = $(this).data("numStars");

            var fullStar = new Array(Math.floor(rating + 1)).join('<i class="fa fa-star"></i>');

            var halfStar = ((rating%1) !== 0) ? '<i class="fa fa-star-half-empty"></i>': '';

            var noStar = new Array(Math.floor(numStars + 1 - rating)).join('<i class="fa fa-star-o"></i>');

            $(this).html(fullStar + halfStar + noStar);

        });
    }

    $('.stars').stars();

</script>

</body>
</html>