<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <title>Rotten Reads</title>
</head>
<body>
{% include 'menu.html' %}
<div class="jumbotron jumbotron-fluid text-center text-warning bg-dark jumbo-heading">
  <h1>Explore Books</h1>
  <p>Books from around the world</p> 
</div>
<div class="container">
	{% for book in books %}
	  <p>
	  	 <ul class=list-group>
	  	 	<li class="list-group-item"><b>ISBN:</b> {{book.isbn}}</li>
			<li class="list-group-item"><b>Title:</b> {{book.title}}</li>
			<li class="list-group-item"><b>Author:</b> {{book.title}}</li>
            <li class="list-group-item"><b>Description:</b> {{book.description}}</li>
            <li class="list-group-item">
            	<form action="{{ url_for('get_book', isbn=book.isbn) }}">
	            	<button class="btn btn-lg btn-success" type="submit">
						Reviews
					</button>
				</form>
            </li>
          </ul>
      </p>
    {% endfor %}
</div>
</body>
</html>