<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
</head>
<body>
<div class="jumbotron text-center">
  <h1>Explore Books</h1>
  <p>Click on book to read and write reviews</p> 
</div>
<div>
	<h1></h1>
	{% for book in books %}
      <p>{{book.title}}</p>
      <p>{{book.description}}</p>
    {% endfor %}

</div>
</body>
</html>