<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
{% include 'menu.html' %}
<div class="jumbotron jumbotron-fluid text-center text-warning bg-dark jumbo-heading">
  Welcome {{ session['username'] }}
  <h1>Rotten Reads</h1>
  <p>Book reviews from around the world!!!</p> 
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 class="text-secondary">Explore</h3>
      <p>Explore books from around the world</p>
      <p><a class="btn btn-danger" href="/books">Explore</a></p>
    </div>
    <div class="col-sm-4">
      <h3 class="text-secondary">My Books</h3>
      <p>Look at your existing books. Add more.</p>
      <p><a class="btn btn-danger" href="/mybooks">My Books</a></p>
    </div>
    <div class="col-sm-4">
      <h3 class="text-secondary">My Reviews</h3>
      <p>Look at all the reviews you've made.</p>
      <p><a class="btn btn-danger" href="/myreviews">My Reviews</a></p>
    </div>
  </div>
</div>
</body>
</html>