<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
  Welcome {{ session['username'] }} !
  <h1>Rotten Reads</h1>
  <p>Book reviews from around the world!!!</p> 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Explore</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
	    <form method="POST" action="/">
	      <input type="text" name="title">
	      <input type="submit" value="Add">
	    </form>
    </div>
    <div class="col-sm-4">
      <h3>My Books</h3>
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
    <div class="col-sm-4">
      <h3>My Comments</h3> 
      <p>Lorem ipsum dolor..</p>
      <p>Ut enim ad..</p>
    </div>
  </div>
</div>
</body>
</html>